*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*Container*/

.container-header{
    width: 100%;
    background-color: rgb(37, 119, 241);
}

.container{
    width: 100%;
}

.container-footer{
    width: 100%;
}

/*Row*/

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-white{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.row-purple{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(149, 147, 230);
}

.row-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(46, 46, 46);
    color: white;
    font-size: 12px;
    text-align: center;
}

/*Col*/

.col-header{
    color: white;
    padding: 2vh 6vw 2vh 6vw;
    font-size: 30px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 5% 10%;
    padding: 5%;
}

.col-33{
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 5% 10%;
    padding: 5%;
}

.col-66{
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 10% 5% 10%;
    padding: 5% 5% 0% 5%;
}

.col-50{
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 10% 5% 10%;
    padding: 5% 5% 0% 5%;
}

/*Content*/

.content-white{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-purple{
    background-color: rgb(149, 147, 230);
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-linkedin{
    display: flex;
    flex-direction: column;
    position: relative;
}

/*Misc*/

#app-store{
    color: white;
    background-color: rgb(37, 119, 241);
    padding: 3% 15% 3% 15%;
    border-radius: 20px;
    max-width: fit-content;
}

#arrow-button{
    background-color: rgb(149, 147, 230);
    border-radius: 100%;
    color: black;
    width: fit-content;
    padding: 15px 20px 15px 20px;
    margin: 30px 0px 20px 0px;
}

.purple-button{
    background-color: rgb(149, 147, 230);
    padding: 10px 60px 10px 60px;
    margin: 30px 0px 20px 0px;
    width: fit-content;
    border-radius: 20px;
    color: white;
}

.purple-button-small{
    background-color: rgb(149, 147, 230);
    padding: 10px 20px 10px 20px;
    margin: 30px 0px 20px 0px;
    width: fit-content;
    border-radius: 20px;
    color: white;
}

.white-button{
    background-color: white;
    padding: 15px 50px 15px 50px;
    width: fit-content;
    border-radius: 30px;
    color: rgb(149, 147, 230);
}

#white-logo-button{
    background-color: white;
    padding: 10px 20px 10px 20px;
    width: fit-content;
    border-radius: 30px;
    color: black;
    font-size: 14px;
    margin-left: 15px;
}

.col-header a{
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin: 10px;
}

#menu{
   display: none;
   justify-content: center;
   align-items: center;
}

.col-66 img{
    width: 80%;
}

.col-50 img{
    width: 100%;
    margin-bottom: 30px;
}

.content-purple img{
    width: 100%;
    border-radius: 50%;
    clip-path: circle();
}

.content-linkedin img{
    position: relative;
    width: 70%;
    border-radius: 50%;
    clip-path: circle();
}

.content-linkedin i{
    position: absolute;
    top: 0;
    right: 30%;
    color: rgb(149, 147, 230);
    font-size: 60px;
    z-index: 999;
}

/*Utility*/

.margin-top-bottom-15{
    margin: 15px 0px 15px 0px;
}

.margin-top-bottom-30{
    margin: 30px 0px 30px 0px;
}

.padding-left-5{
    padding-left: 5px;
}

.lightblue-bg{
    background-color: rgb(129, 218, 248);
}

.blue-text{
    color: rgb(43, 96, 243);
}

.white-text{
    color: white;
}

.purple-text{
    color: rgb(149, 147, 230);
}

.grey-text{
    color: rgb(126, 125, 125);
}

.orange-text{
    color: orange;
}

.icon-size-70{
    font-size: 70px;
}

.text-size-50{
    font-size: 50px;
}

.text-size-30{
    font-size: 30px;
}

.text-size-10{
    font-size: 10px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.italic{
    font-style: italic;
}

.align-items-start{
    align-items: flex-start;
}

/* Media Query */

@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .row-white{
        flex-direction: row;
        margin: 30px 0px 30px 0px;
    }

    .col-66{
        width: 66%;
        margin: 10px;
    }

    .col-33{
        width: 32%;
        margin: 10px;
    }

    .content-purple{
        display: flex;
        flex-direction: row;
        padding: 11px;
    }

    .content-purple p{
        font-size: 10px;
    }

    .row-purple .col-wrap{
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0%;
    }

    .content-white{
        max-width: 46%;
        margin: 2%;
    }

    .content-white p{
        font-size: 12px;
    }

    .larger{
        width: 45%;
    }

    .smaller{
        width: 55%;
    }
    
    .start{
        align-items: flex-start;
    }



}

@media screen and (min-width: 992px) {

    .row-header{
        padding: 0% 15% 0% 15%;
    }

    .col-header{
        padding-left: 10px;
        padding-right: 10px;
    }

    .col-header i{
        display: none;
    }

    #menu{
        display: flex;
    }

    .row-white{
        flex-direction: row;
        margin: 30px 0px 30px 0px;
        width: 70%;
        margin: auto;

    }

    .padding-top-desktop{
        padding-top: 50px;
    }

    .padding-bottom-desktop{
        padding-bottom: 50px;
    }

    .col-66{
        width: 66%;
        margin: 10px;
        flex-direction: row;
        padding: 10px 20px 0px 20px;
        justify-content: space-between;
        align-items: flex-start;
    }

    .col-33{
        width: 32%;
        margin: 10px;
    }

    #app-store{
        padding: 4% 14% 4% 14%;
        margin-top: 50px;
    }

    .col-66 p{
        font-size: 16px;
        line-height: 2;
        margin-top: 0px;
    }

    .col-66 img{
        max-width: 300px;
        align-self: flex-end;
    }

    #left-col-66{
        max-width: 40%;
        margin-left: 5%;
        margin-top: 50px;
    }

    .col-33 p{
        font-size: 16px;
        line-height: 2;
    }

    .first-purple{
        flex-direction: row;
        justify-content: center;
        padding: 10% 15% 0% 15%;
    }

    .row-purple .col-50{
        margin: 0%;
    }

    .start{
        padding-bottom: 40%;
    }

    .content-purple{
        display: flex;
        flex-direction: row;
        padding: 11px;
        text-align: left;
    }

    .row-purple .col-wrap{
        flex-direction: row;
        flex-wrap: wrap;
        margin: auto;
        width: 75%;
    }

    .content-white-desktop{
        max-width: 29%;
        margin: 2%;
    }

    .content-white-desktop p{
        font-size: 12px;
    }

    .larger{
        width: 45%;
    }

    .smaller{
        width: 55%;
        flex-direction: column;
    }

    .smaller p{
        font-size: 17px;
    }

    .smaller-purple{
        width: 50%;
        margin: auto;
        text-align: center;
    }

    .smaller-footer{
        padding: 0% 25% 0% 25%;
    }

    .no-margin-left-right-desktop{
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .no-margin-left-right-desktop img{
        max-width: 250px;
    }

}
