*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/*Container*/

.container-header{
    width: 100%;
    background-color: rgb(37, 119, 241);
}

.container{
    width: 100%;
}

/*Row*/

.row-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-white{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

.row-purple{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(149, 147, 230);
}

/*Col*/

.col-header{
    color: white;
    padding: 2vh 6vw 2vh 6vw;
    font-size: 30px;
}

.col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 5% 10%;
    padding: 5%;
}

.col-33{
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5% 10% 5% 10%;
    padding: 5%;
}

.col-66{
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 10% 5% 10%;
    padding: 5% 5% 0% 5%;
}

.col-50{
    width: 80%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10% 10% 5% 10%;
    padding: 5% 5% 0% 5%;
}

/*Content*/

.content-white{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-purple{
    background-color: rgb(149, 147, 230);
    border-radius: 20px;
    padding: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Misc*/

#app-store{
    color: white;
    background-color: rgb(37, 119, 241);
    padding: 3% 15% 3% 15%;
    border-radius: 20px;
}

#arrow-button{
    background-color: rgb(149, 147, 230);
    border-radius: 100%;
    color: black;
    width: fit-content;
    padding: 15px 20px 15px 20px;
    margin: 30px 0px 20px 0px;
}

.purple-button{
    background-color: rgb(149, 147, 230);
    padding: 10px 60px 10px 60px;
    margin: 30px 0px 20px 0px;
    width: fit-content;
    border-radius: 20px;
    color: white;
}

.col-66 img{
    width: 80%;
}

.col-50 img{
    width: 100%;
    margin-bottom: 30px;
}

.content-purple img{
    width: 100%;
    height: auto;
    border-radius: 50%;
    clip-path: circle();
}

/*Utility*/

.margin-top-bottom-15{
    margin: 15px 0px 15px 0px;
}

.margin-top-bottom-30{
    margin: 30px 0px 30px 0px;
}

.padding-left-5{
    padding-left: 5px;
}

.lightblue-bg{
    background-color: rgb(129, 218, 248);
}

.blue-text{
    color: rgb(43, 96, 243);
}

.white-text{
    color: white;
}

.purple-text{
    color: rgb(149, 147, 230);
}

.grey-text{
    color: rgb(90, 90, 90);
}

.icon-size-70{
    font-size: 70px;
}

.text-center{
    text-align: center;
}

.italic{
    font-style: italic;
}

.align-items-start{
    align-items: flex-start;
}